<style>
    /* Height for devices larger than 576px */
    @media (min-width: 992px) {
        #intro {
            margin-top: -65px;
            height: 50vh !important;
        }
    }
</style>
<!-- Background image -->
<div id="intro" class="bg-image vh-100 shadow-1-strong">
    <video style="min-width: 100%; min-height: 100%" playsinline autoplay muted loop>
        <source class="h-100" src="{{ '/assets/img/animation-intro-min.mp4' | relative_url }}" type="video/mp4" />
    </video>
    <div class="mask" style="
      background: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.7),
        rgba(91, 14, 214, 0.7) 100%
      );
    ">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Smart. Mechatronics. Engineering.</h1>
                <h5 class="mb-4">Research Group</h5>
            </div>
        </div>
    </div>
</div>