<style>
    /* Height for devices larger than 576px */
    @media (min-width: 992px) {
        #intro {
            margin-top: -65px;
            height: 50vh !important;
        }
    }
</style>
<!-- Background image -->
<div id="intro" class="bg-image shadow-1-strong" style="height: 55vw;">
    <video style="min-width: 100%; min-height: 100%; width: 90vw;" playsinline autoplay muted loop>
        <source src="{{ '/assets/img/animation-intro-min.mp4' | relative_url }}" type="video/mp4" />
    </video>
    <div class="mask" style="background: linear-gradient(45deg, rgba(179, 193, 255, 0.7), rgba(27, 21, 116, 0.7) 100%);">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Smart. Mechatronics. Engineering.</h1>
                <h5 class="mb-4">Research Group</h5>
            </div>
        </div>
    </div>
</div>