{%- if site.enable_google_analytics -%}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){ window.dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
{%- endif -%}
{%- if site.enable_insights_analytics -%}
  <!-- Insights Analytics - We respect your privacy -->
  <script src="https://getinsights.io/js/insights.js"></script>
  <script>
    insights.init('{{site.insights_analytics | strip}}');
    insights.trackPages();
  </script>
{%- endif -%}
