---
layout: default
---

<!-- about.html -->


<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    </h1>
    {% comment %}<p class="desc">{{ page.subtitle }}</p> {% endcomment %}
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}start{% else %}end{% endif %}">
      {% if page.profile.image %}
        {% if page.profile.href %}<a href="{{ page.profile.href | relative_url }}">{% endif %}
          {% assign path ='/assets/img/profiles/' | append: page.profile.image %}
          {% include image.html path=path alt=page.profile.name class="z-depth-1 rounded-9 border border-5" %}
        {% if page.profile.href %}</a>{% endif %}
      {% endif %}

      {% if page.profile.address %}
        <div class="address">
          <p>
            {% if page.profile.href %}<a href="{{ page.profile.href | relative_url }}">{% endif %}
              <span class="name">{{ page.profile.name }}</span>
            {% if page.profile.href %}</a>{% endif %}
            {% if page.profile.position %}<br />{{ page.profile.position }}{% endif %}
            {% if page.profile.email %}<br /><a href="mailto:{{ page.profile.email }}"><i class="fas fa-envelope"></i> {{ page.profile.email }}</a>{% endif %}
            {% if page.profile.phone %}<br /><a href="tel:{{ page.profile.phone }}"><i class="fas fa-phone"></i> {{ page.profile.phone }}</a>{% endif %}
            {% if page.profile.orcid %}<br /><a href="https://orcid.org/{{ page.profile.orcid }}" target="_blank"><i class="fab fa-orcid"></i> {{ page.profile.orcid }}</a>{% endif %}
            {% if page.profile.twitter %}<br /><a href="https://twitter.com/{{ page.profile.twitter }}" target="_blank"><i class="fab fa-twitter"></i> {{ page.profile.twitter }}</a>{% endif %}
            {% if page.profile.github %}<br /><a href="https://github.com/{{ page.profile.github }}" target="_blank"><i class="fab fa-github"></i> {{ page.profile.github }}</a>{% endif %}
            {% if page.profile.website %}<br /><a href="{{ page.profile.website }}" target="_blank"><i class="fas fa-globe"></i> {{ page.profile.website }}</a>{% endif %}
          </p>
          <p class="post">{{ page.profile.address }}</p>
        </div>
      {% endif %}
    </div>
    {% endif %}

    {% if page.project %}
    <div class="profile float-{% if page.profile.align == 'left' %}start{% else %}end{% endif %}">
      {% if page.project.image %}
          {% assign path ='/assets/img/projects/' | append: page.project.image %}
          {% include image.html path=path alt=page.project.name class="z-depth-1 rounded-9 border border-5" %}
      {% endif %}

        <div class="address">
          <table class="table-sm borderless">
            <tbody>
              <tr>
                <th scope="row">Acronym</th>
                <td>{{ page.project.acronym }}</td>
              </tr>
              {% if page.project.name %}
              <tr>
                <th scope="row">Name</th>
                <td>{{ page.project.name }}</td>
              </tr>
              {% endif %}
              {% if page.project.funding_agency %}
              <tr>
                <th scope="row">Agency</th>
                <td>{{ page.project.funding_agency }}</td>
              </tr>
              {% endif %}
              {% if page.project.funding_track %}
              <tr>
                <th scope="row">Track</th>
                <td>{{ page.project.funding_track }}</td>
              </tr>
              {% endif %}
              {% if page.project.start_date %}
              <tr>
                <th scope="row">Timespan</th>
                <td>{{ page.project.start_date }} - {% if page.project.end_date %} {{ page.project.end_date }}{% endif %}</td>
              </tr>
              {% endif %}
              {% if page.project.website %}
              <tr>
                <th scope="row">Website</th>
                <td><a href="{{ page.project.website }}" target="_blank"><i class="fas fa-globe"></i> {{ page.project.website }}</a></td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
    </div>

    {% endif %}

    <div class="clearfix">{{ content }}</div>

    {% if page.news -%}
    <!-- News -->
    {%- include news.html %} {%- endif %}
    <!-- Publications -->
    {% if page.publications %}
    <h2 id="publications">Publications</h2>
    <div class="publications">
      {% bibliography -f papers -q @*[{{page.publications}}]* %}
    </div>
  {% endif %}
    {%- if page.social %}
    <!-- Social -->
    <div class="social">
      <div class="contact-icons">{% include social.html %}</div>

      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {%- endif %}
  </article>
</div>